
@{
    ViewBag.Title = "AdminArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome @User.Identity.Name</h2>































































































































































































































































































































