
@{
    ViewBag.Title = "EditAjax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditAjax</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() 
}
<script src="~/Scripts/Department.js"></script>